<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav>
                <ul class="menu-main">
                    <li><a href=""> <router-link :to="{ name: 'home' }">Home</router-link></a></li>
                    <li v-if="!$auth.check()"><a href=""><router-link :to="{ name: 'login' }">Login</router-link></a></li>
                    <li v-if="!$auth.check()"><a href=""><router-link :to="{ name: 'register' }">Register</router-link></a></li>
                    <li v-if="$auth.check()"> <a href="#" @click.prevent="$auth.logout()">Logout</a></li>
                    <li v-if="$auth.check()"><a href=""><router-link :to="{ name: 'dashboard' }">Employee Dashboard</router-link> </a> </li>
                    <li v-if="$auth.check()"><a href=""><router-link :to="{ name: 'firstTask' }">First Task</router-link> </a> </li>
                    <li v-if="$auth.check()"><a href=""><router-link :to="{ name: 'secondTask' }">Second Task</router-link> </a> </li>
                    <li v-if="$auth.check()"> <a href="">Current User: {{ $auth.user().name }}</a> </li>
                </ul>

            </nav>
        </div>
        <div class="panel-body">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {
        data: () => ({

        }),
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
    .menu-main {
        list-style: none;
        margin: 40px 0 5px;
        padding: 25px 0 5px;
        text-align: center;
        background: white;
    }
    .menu-main li {display: inline-block;}
    .menu-main li:after {
        content: "|";
        color: #606060;
        display: inline-block;
        vertical-align:top;
    }
    .menu-main li:last-child:after {content: none;}
    .menu-main a {
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 20px;
        margin: 0 34px 0 30px;
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        transition: color .2s;
    }
    .menu-main a, .menu-main a:visited {color: #9d999d;}
    .menu-main a.current, .menu-main a:hover{color: #feb386;}
    .menu-main a:before,
    .menu-main a:after {
        content: "";
        position: absolute;
        height: 4px;
        top: auto;
        right: 50%;
        bottom: -5px;
        left: 50%;
        background: #feb386;
        transition: .8s;
    }
    .menu-main a:hover:before, .menu-main .current:before {left: 0;}
    .menu-main a:hover:after, .menu-main .current:after {right: 0;}
    @media (max-width: 550px) {
        .menu-main {padding-top: 0;}
        .menu-main li {display: block;}
        .menu-main li:after {content: none;}
        .menu-main a {
            padding: 25px 0 20px;
            margin: 0 30px;
        }
    }
     li {
         list-style-type: none; /* Убираем маркеры */
     }
    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }

</style>