<template>
    <div class="container">
        <h3>First Task</h3>
        <form @submit.prevent="search()" method="post">
            <div class="form-group">
                <label for="exampleText">Example text</label>
                <textarea class="form-control" id="exampleText" rows="5" v-model="textForCountWord"></textarea>
                <span class="help-block" v-if="error && errors.textForCountWord">
                    <li v-for="textForCountWordError in errors.textForCountWord">
                        {{ textForCountWordError }}
                    </li>
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>
        <div class="form-group ">
            <label class="alert alert-info" for="exampleText" v-for="(value, key) in serverAnswer">The most common word: "{{key}}" in the amount of: "{{value}}"</label>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                textForCountWord:'',
                error:false,
                errors: {},
                serverAnswer:{},
            }
        },
        methods: {

            async search() {
                console.log('work');
                const data = {
                    textForCountWord: this.textForCountWord
            };
                axios.post('/count_word', data)
                    .then((response) => {
                        this.error = false;
                        this.serverAnswer = response.data;
                    console.log(response)
                    })
                    .catch((error) => {
                        if (error.response.status == 422){
                            this.error = true;
                            this.success = false;
                            this.errors = error.response.data.errors;
                        }
                    });
            },
        }
    }
</script>