<template>
    <div>
        <div class="alert alert-danger" v-if="error && !success">
            <p>There was an error, unable to complete registration.</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>Registration completed. You can now <router-link :to="{name:'login'}">sign in.</router-link></p>
        </div>
        <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
            <div class="form-group" :class="{ 'has-error': error && errors.name }">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" v-model="name" required>
                <span class="help-block" v-if="error && errors.name">
                     <li v-for="nameError in errors.name">
                    {{ nameError }}
                     </li>
                </span>
            </div>
            <div class="form-group" :class="{ 'has-error': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                <span class="help-block" v-if="error && errors.email">
                     <li v-for="emailError in errors.email">
                    {{ emailError }}
                     </li>
                </span>
            </div>
            <div class="form-group" :class="{ 'has-error': error && errors.password }">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
                <span class="help-block" v-if="error && errors.password">
                     <li v-for="passwordError in errors.password">
                    {{ passwordError }}
                     </li>
                </span>
            </div>
            <div class="form-group" :class="{ 'has-error': error && errors.password }">
                <label for="password">Password Confirmation</label>
                <input type="password" id="password_confirmation" class="form-control" v-model="password_confirmation" required>
                <span class="help-block" v-if="error && errors.password_confirmation">
                     <li v-for="password_confirmationError in errors.password_confirmation">
                    {{ password_confirmationError }}
                     </li>
                </span>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation:'',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register(){
                var app = this;
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        password_confirmation:app.password_confirmation
                    },
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
            }
        }
    }
</script>